@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}

@theme {
  --font-sans: "Noto Sans JP", sans-serif;
}