---
import BaseLayout from "../layouts/BaseLayout.astro";
import BasicMainContainer from "../components/BasicMainContainer.astro";
---

<BaseLayout title="mude-dev | Game">
  <BasicMainContainer>
    <p>深淵を覗いたとき(ry</p>
  </BasicMainContainer>
</BaseLayout>
