---
import BasicMainContainer from "../layouts/BasicMainContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <BasicMainContainer>
    <p>深淵を覗いたとき(ry</p>
  </BasicMainContainer>
</Layout>
