---
import BasicMainContainer from "../layouts/BasicMainContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <BasicMainContainer>
    <p>鋭意開発中</p>
  </BasicMainContainer>
</Layout>
