---
import BaseLayout from "../layouts/BaseLayout.astro";
import BasicMainContainer from "../components/BasicMainContainer.astro";
---

<BaseLayout>
  <BasicMainContainer>
    <p>鋭意開発中</p>
  </BasicMainContainer>
</BaseLayout>
