---
import HamburgerIcon from "./HamburgerIcon.astro";
import PageLinks from "./PageLinks.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="sticky top-0 bg-base-300">
  <div class="drawer">
    <input id="mobile_drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <nav class="navbar bg-base-300 max-w-7xl m-auto w-full">
        <!-- Hamburger Icon -->
        <div class="flex-none lg:hidden">
          <label
            for="mobile_drawer"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <HamburgerIcon />
          </label>
        </div>
        <!-- Items -->
        <h1 class="mx-2 flex-1 px-2 font-bold">
          <a href="/">
            mude-dev
          </a>
        </h1>
        <div class="hidden flex-none lg:block">
          <ul class="menu menu-horizontal items-center">
            <PageLinks />
          </ul>
        </div>
        <div class="flex-none">
          <ThemeToggle />
        </div>
      </nav>
    </div>
    <nav class="drawer-side">
      <label
        for="mobile_drawer"
        aria-label="close sidebar"
        class="drawer-overlay"></label>
      <ul class="menu bg-base-100 min-h-full w-3/4 max-w-xs p-4">
        <h1 class="font-bold text-lg mb-2 select-none">mude-dev</h1>
        <PageLinks />
      </ul>
    </nav>
  </div>
</header>
