<label class="flex cursor-pointer gap-2">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <circle cx="12" cy="12" r="5"></circle>
    <path
      d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
    ></path>
  </svg>
  <input
    type="checkbox"
    transition:persist
    value="dim"
    class="toggle theme-controller"
  />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
  </svg>
</label>

<script>
  const LIGHT_THEME_NAME = "nord";
  const DARK_THEME_NAME = "dim";

  const themeController = document.querySelector(".theme-controller");

  if (themeController) {
    const theme: string = (() => {
      if (typeof localStorage !== "undefined") {
        const storedTheme = localStorage.getItem("theme");
        if (storedTheme) return storedTheme;
      }

      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return DARK_THEME_NAME;
      }

      return LIGHT_THEME_NAME;
    })();

    const setTheme = (theme: string) => {
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
      if (themeController instanceof HTMLInputElement) {
        themeController.checked = theme === DARK_THEME_NAME;
      }
    };

    themeController.addEventListener("change", (e) => {
      const target = e.target as HTMLInputElement;
      setTheme(target.checked ? DARK_THEME_NAME : LIGHT_THEME_NAME);
    });

    setTheme(theme);
  }
</script>
